<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @post.title %>
</p>

<p>
  <b>Conteúdo:</b>
  <%= @post.body %>
</p>

<p>
  <b>Autor:</b>
  <%= @post.author %>
</p>

<p>
  <b>Data de publicação:</b>
  <%= @post.pub_date %>
</p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Publicado:</b>
  <%= @post.published? ? 'Sim' : 'Não' %>
</p>


<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
