<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:title) %>:</b>
  <%= @post.title %>
</p>

<p>
  <b><%= t(:body) %>:</b>
  <%= @post.body %>
</p>

<p>
  <b><%= t(:author) %>:</b>
  <%= @post.author %>
</p>

<p>
  <b><%= t(:pub_date_message) %>:</b>
  <%= @post.pub_date %>
</p>

<p>
  <b><%= t(:status) %>:</b>
  <%= @post.status %>
</p>

<p>
  <b><%= t(:published) %>:</b>
  <%= @post.published? ? t(:yes) : t(:no) %>
</p>


<%= link_to t(:edit), edit_post_path(@post) %> |
<%= link_to t(:back), posts_path %>
