<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:title) %>:</b>
  <%= @post.title %>
</p>

<p>
  <b><%= t(:body) %>:</b>
  <%= @post.body %>
</p>

<p>
  <b><%= t(:author) %>:</b>
  <%= @post.author %>
</p>

<p>
  <b><%= t(:pub_date_message) %>:</b>
  <%= l @post.pub_date, :format => :long %>
</p>

<p>
  <b><%= t(:status) %>:</b>
  <%= status_to_s @post %>
</p>

<p>
  <b><%= t(:published) %>:</b>
  <%= @post.available?? ? t(:_yes) : t(:_no) %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tag_names %>
</p>

<%= link_to t(:edit), edit_post_path(@post) %> |
<%= link_to t(:back), posts_path %>
