<!DOCTYPE html>
<html>
<head>
  <title><%= t(:post_list) %></title>
  <%= stylesheet_link_tag  "application", "token-input-facebook", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>
